/* BODY */
body {
  display: flex;
  margin: 0;
  height: 100vh;
  background: url(https://pressstart.vip/images/uploads/assets/foggy.png) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Akaya Telivigala', cursive;
}
/* HUMAN PLAYER and CORONA PLAYER */
.human-play, .corona-play {
  display: flex;
  width: 1000px;
  height: 1000px;
  flex-direction: column;
  align-items: center;
}
.human-player, .corona-player {
  height: 50px;
  margin: 40px 0 0 0;
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.corona {
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
.girl {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
}
.human-wins, .corona-wins {
  font-size: x-large;
  margin: 5px;
}

/* ICONS */
.rock-weapon,
.paper-weapon,
.scissor-weapon,
.spock-weapon,
.lizard-weapon {
  height: 100px;
  margin-top: 10px;
}

/* GAME BOARD SECTION */
.game-board {
  width: 1000px;
  height: 1000px;
  border: 1px #e8e1df;
}
.container-1 {
  flex-direction: column;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 0 0;
}
.container-2 {
  flex-direction: column;
  height: 168px;
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}
.game-title {
  margin: 0;
  font-size: xxx-large;
}
.game-choice {
  margin: 30px 0 0 0;
  font-size: x-large;
  height: 100px;
}
.choose-game, .choose-game-addition {
  flex-direction: column;
  height: 130px;
  display: flex;
  align-items: center;
  font-size: larger;
}
.choose-game-addition {
  height: 150px;
}
.choose-game:hover, .choose-game-addition:hover {
  background-color: #ACA391;
}

.display-weapon{
  display: flex;
  justify-content: space-around;
}

/* HIDDEN CLASSES */
.hidden {
  display: none;
}
